*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}
h1{
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}
section{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    margin: 5rem auto;
}
#toast-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
#toast-options select, #toast-options input{
    min-height: 2rem;
    width: 10rem;
    padding: 5px 10px;
    font-size: 1.25rem;
}
#toast-options select option{
    padding: 10px;
    font-size: 1.25rem;
}
#toast-options #toast-text{
    width: 100%;
}
#text-error{
    font-size: .875rem;
    color: #cd0000;
    margin-top: 5px;
    display: none;
}
.toast-duration{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.toast-duration label{
    font-size: 1.25rem;
}
#show-toast-btn{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#toast{
    position: fixed;
    visibility: hidden;
    z-index: 1;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: none;
    box-shadow: 1px 3px 10px #ccc;
}
#toast.toast-show {
    visibility: visible;
}
#toast-close{
    font-weight: 900;
    cursor: pointer;
    margin-left: 10px;
}
.center{
    left: 50%;
    transform: translateX(-50%);
}
.left{
    left: 15px;
}
.top{
    top: 15px;
}
.right{
    right: 15px;
}
.bottom{
    bottom: 15px;
}
.success{
    background-color: #5cef5c;
}
.error{
    background-color: #f36464;
}
.warning{
    background-color: #f3ae46;
}
.info{
    background-color: #f8dcb8;
}